In [3]:
from utils import (
    conectar_postgresql,
    ejecutar_query,
    cargar_dataframe_postgresql,
    read_json_file,
    limpieza_general
)

# üöÄ Ejercicio: Construcci√≥n de un Pipeline de Datos con PostgreSQL y Looker Studio

En este ejercicio vas a construir un pipeline de datos completo que conecte Python con PostgreSQL y Looker Studio. El objetivo es automatizar el flujo de datos: desde su extracci√≥n, limpieza y almacenamiento, hasta su visualizaci√≥n en un dashboard interactivo.

---

## üß© Objetivo

1. Leer las credenciales necesarias para conectarse a una base de datos PostgreSQL.
2. Establecer la conexi√≥n usando Python y la librer√≠a `SQLAlchemy`.
3. Ejecutar una consulta SQL que obtenga datos desde una tabla de la base de datos.
4. Realizar una limpieza b√°sica de los datos obtenidos.
5. Guardar el DataFrame limpio como una nueva tabla en PostgreSQL.
6. Crear un nuevo proyecto en **Looker Studio**.
7. Conectar Looker Studio a la nueva tabla de la base de datos.
8. Crear visualizaciones gr√°ficas interactivas con los datos procesados.

---

## üìã Instrucciones

### 1. üìÇ Leer credenciales desde un archivo `.env` o diccionario
- Incluye los siguientes datos:
  - `host`
  - `dbname`
  - `user`
  - `password`

### 2. üß± Conectarte a la base de datos PostgreSQL
- Usa `SQLAlchemy` o `psycopg2` para conectarte.

### 3. üì§ Ejecutar un `SELECT` para extraer los datos de una tabla (por ejemplo: `ventas_originales`)

### 4. üßº Limpieza de datos
- Elimina filas con valores vac√≠os (`NaN`).
- Corrige nombres o formatos si es necesario (por ejemplo, columnas de texto o fechas).
- Elimina duplicados.

### 5. üßæ Guardar los datos limpios
- Crea una nueva tabla en la base de datos, por ejemplo: `ventas_limpias`.

### 6. üßë‚Äçüíª Crear un proyecto en Looker Studio
- Ve a [https://lookerstudio.google.com](https://lookerstudio.google.com).
- Crea un nuevo reporte.
- Agrega una fuente de datos tipo **PostgreSQL** con las mismas credenciales.
- Selecciona la tabla `ventas_limpias`.

### 7. üìà Crear visualizaciones
- Agrega los siguientes elementos al dashboard:
  - Gr√°fico de barras: ventas por ciudad.
  - L√≠nea de tiempo: evoluci√≥n de ventas por fecha.
  - Tabla con totales y filtros por regi√≥n o cliente.

---

## ‚úÖ Resultado esperado

Al finalizar este ejercicio deber√≠as tener:

- Un c√≥digo en Python que ejecuta un pipeline ETL con PostgreSQL.
- Una nueva tabla limpia en la base de datos.
- Un dashboard en Looker Studio conectado a esa tabla, con gr√°ficos din√°micos e interactivos.

---

üí° *Este flujo es el que muchas empresas usan en el mundo real para tomar decisiones basadas en datos.* ¬°T√∫ tambi√©n puedes hacerlo!

In [4]:
credentials = read_json_file('credentials.json')

In [5]:
conn = conectar_postgresql(credentials)

‚úÖ Conexi√≥n exitosa a PostgreSQL.

In [6]:
df = ejecutar_query(
    conn,
    'select * from datos_transaccionales'
)

‚úÖ Consulta ejecutada exitosamente.

c:\Users\Andres Agudelo\Documents\da_s12\class_1\utils.py:51: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

In [7]:
df.head()

   sale_id  customer_id     category  amount            sale_date
0        1          106         Home     229  2024-01-01 00:00:00
1        2          103      Clothes     575  2024-01-02 00:00:00
2        3          107  Electronics     864  2024-01-03 00:00:00
3        4          104         Food     745  2024-01-04 00:00:00
4        5          106       Beauty     234  2024-01-05 00:00:00

In [8]:
clean_df = limpieza_general(df)

üìÖ Columna 'sale_date' convertida a fecha.

üìä Tipos de datos:
sale_id                 int64
customer_id             int64
category               object
amount                  int64
sale_date      datetime64[ns]
dtype: object

üîç Valores nulos por columna:
sale_id        0
customer_id    0
category       0
amount         0
sale_date      0
dtype: int64

‚úÖ Limpieza general completada.

c:\Users\Andres Agudelo\Documents\da_s12\class_1\utils.py:145: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[col] = pd.to_datetime(df[col], errors="raise")

In [ ]:
cargar_dataframe_postgresql(
    clean_df,
    'datos_transaccionales_limpios',
    credentials
)

‚úÖ Tabla 'datos_transaccionales_limpios' creada o reemplazada exitosamente.

True